<% provide(:title,'ПЛП ЛР Морфологический Анализатор') %>
<div class='row well'>
    <div class="col-md-offset-3 col-md-8 lexem_form">
        <%= form_tag lexem_analyze_path, class:"form-inline", remote:true do %>
            <div class="form-group">
                <label for:'lexem'>Введите лексему:</label>
                <%= text_field_tag :lexem, nil,  placeholder: 'безмятежные', class: 'form-control'%>
            </div>
            <%= submit_tag 'Отправить', class: 'btn btn-default submit-btn' %>
        <% end %>
    </div>
    <div class="col-md-12 result">
    <table class="table table-striped table-condensed table-bordered table-hover morph_info">
    <tr>
      <th> Лексема </th>
      <th> Морфологическая информация </th>
      <th> Базовая форма (лемма) </th>
    </tr>
    </table>
    </div>
</div>
