// Place all the styles related to the staticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html > body{
    color: #555;
}
.header, .footer{
    text-align: center;
    margin-top: 10px;

}
.header h1{
    color: #666666;
}
.header h2{
    color: #777;
    font-size: 2em;
}
.header h3{
    color: #888;
}
.header h4{
   color: #999; 
}
.inline-form{
    margin-bottom: 30px;
}
.table td, .table th{
   text-align: center;   
}