<div class='header container jumbotron'>
    <h1>Морфологический анализатор</h1>
    <h2>ЕЯ-интерефейс, созданный студентами НИУ МАИ учебной группы 3ВТИ-052 в результате цикла лабораторных работ  по дисциплине "Проектирование лингвистических процессоров" под руководством проф. т.н. В.А. Фомичева</h2>
    <h3>Волков Д., Карпов А., Нагорный А.</h3>
    <h4>ver. 0.1 </h4>
</div>